# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# OS files
Thumbs.db
desktop.ini

# Data and models
/data/
*.ckpt

# Streamlit
.streamlit/secrets.toml
.venv/
venv/
__pycache__/
*.pyc
data/
.ipynb_checkpoints/
env/
.streamlit/secrets.toml
